term = xterm-256color

command = {{.ConfigPath}}/ghostty/starter.sh

window-padding-x = 10
window-padding-y = 10

macos-titlebar-style = hidden

background-opacity = 0.8
background-blur = true

{{if eq .Font "default"}}
font-size = 13
font-family = MesloLGLDZ Nerd Font Mono
font-family-bold = MesloLGLDZ Nerd Font Mono
font-family-italic = MesloLGLDZ Nerd Font Mono
{{end}}


background = {{.Palette.Background}}
foreground = {{.Palette.Foreground}}

palette = 0={{.Palette.Border}}
palette = 1={{.Palette.Red}}
palette = 2={{.Palette.Green}}
palette = 3={{.Palette.Yellow}}
palette = 4={{.Palette.Blue}}
palette = 5={{.Palette.Purple}}
palette = 6={{.Palette.Aqua}}
palette = 7={{.Palette.Foreground}}
palette = 8={{.Palette.Border}}
palette = 9={{.Palette.Red}}
palette = 10={{.Palette.Green}}
palette = 11={{.Palette.Yellow}}
palette = 12={{.Palette.Blue}}
palette = 13={{.Palette.Purple}}
palette = 14={{.Palette.Aqua}}
palette = 15={{.Palette.Foreground}}

