[env]
TERM = "xterm-256color"

[terminal.shell]
program = "{{.ConfigPath}}/alacritty/starter.sh"

[general]
import = []

[window]
padding.x = 10
padding.y = 10

decorations = "Buttonless"

opacity = 0.8
blur = true

[terminal]

{{if eq .Font "default"}}
[font]
size = 13
normal = { family = "MesloLGLDZ Nerd Font Mono", style = "Regular" }
bold = { family = "MesloLGLDZ Nerd Font Mono", style = "Bold" }
italic = { family = "MesloLGLDZ Nerd Font Mono", style = "Italic" }
{{end}}


[colors]
[colors.primary]
background = "{{.Colors.Background}}"
foreground = "{{.Colors.Foreground}}"

[colors.normal]
black = "{{.Colors.Black}}"
red = "{{.Colors.Red}}"
green = "{{.Colors.Green}}"
yellow = "{{.Colors.Yellow}}"
blue = "{{.Colors.Blue}}"
magenta = "{{.Colors.Magenta}}"
cyan = "{{.Colors.Cyan}}"
white = "{{.Colors.Foreground}}"

[colors.bright]
black = "{{.Colors.Black}}"
red = "{{.Colors.Red}}"
green = "{{.Colors.Green}}"
yellow = "{{.Colors.Yellow}}"
blue = "{{.Colors.Blue}}"
magenta = "{{.Colors.Magenta}}"
cyan = "{{.Colors.Cyan}}"
white = "{{.Colors.Foreground}}"

